<%= form_for([@project, @pledge], remote: true) do |f| %>
  <% if @pledge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pledge.errors.count, "error") %> prohibited this pledge from being saved:</h2>

      <ul>
      <% @pledge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <h1> Pick your reward </h1>
    <% @project.rewards.each do |reward| %>
      <%= f.label :reward_id, reward.name %>
      <%= f.radio_button :reward_id, reward.id %> 
    <% end %>
  </div>

    <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  </div>  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>