<p id="notice"><%= notice %></p>

<h1>Crowdfunder Projects</h1>
<%= link_to 'Create a New Project', new_project_path %>

  <% @projects.each do |project| %>
  <div class="project">
      <h2><%= link_to project.name, project%></h2>
      <p><strong>Funding goal: $</strong><%= project.funding_goal %></p>
      <img src="<%= project.photo_url %>">
      <p><strong>Description: </strong><br>
      <%= project.description %></p>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  
   

  <tbody>
      <tr>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      </tbody>
  </table>

  </div>
    <% end %>

 
  

<br>


