
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<h1><%= @project.name %></h1>

<img src="<%= @project.photo_url %>" alt="">

<h3><strong>Funding goal:</strong> $<%= @project.funding_goal %></h3>
<h3><strong>Amount raised:</strong> $<%= @project.amount_raised %></h3>
<h3><strong>Start Date: </strong><%= @project.start_date %></h3>
<h3><strong>End Date: </strong><%= @project.end_date %></h3>
<p><%= @project.description %></p>


<h2>Rewards</h2>

<h5><%= link_to 'Add Rewards', new_project_reward_path(@project), id: "add_reward_link", remote: true %></h5>
<div id="rewards">
	<% @project.rewards.each do |reward| %>
		<%= render partial: 'rewards/reward', locals: {reward: reward} %>
	<% end %>
</div>


<h3>Pledges</h3>

<h5><%= link_to 'Make a Pledge', new_project_pledge_path(@project), id: "add_pledge_link", remote: true %></h5>
<div id='pledge_div'>
	<% @project.pledges.each do |pledge| %>
	  <%= render partial: 'pledges/pledge', locals: {pledge: pledge} %> 
	<% end %>
</div>



